<form [formGroup]="activityForm" (ngSubmit)="submit()">
<h1 mat-dialog-title>Add a new habit</h1>

<mat-dialog-content [formGroup]="activityForm">

  <mat-form-field>
    <input #message matInput placeholder="Habit Name" type="text" maxlength="25" formControlName="activityName" required>
    <mat-hint align="end">{{message.value.length}} / 25</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Sticker Color" formControlName="stickerColor">
      <mat-option *ngFor="let color of colors" [value]="color.value" required>
        {{color.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" mat-dialog-close>Close</button>
  <button class="mat-raised-button mat-primary" type="submit">Save</button>
</mat-dialog-actions>
</form>