.day {
  height: 60px;
}

.day__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.day__date--month {
  font-size: 1.2rem;
}

.day__date--day {
  font-size: 1.3rem;
}

.day__activities {
  display: flex;
}

.events {
  margin-left: 10px;
  display: flex;
}

.day__activity {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.sunday {
  color: red;
  font-weight: 600;
}

.red {
  /* border: 3px red solid; */
  background-color: rgb(255, 65, 54);
}

.blue {
  /* border: 3px blue solid; */
  background-color: rgba(1, 58, 170, 0.9);
}

.green {
  /* border: 3px green ksolid; */
  background-color: rgb(61, 153, 112);
  color: #fafafa;
}

.yellow {
  background-color: rgb(255, 220, 0);
  /* border: 3px yellow solid; */
}

.orange {
  background-color: rgba(255, 165, 0, 0.9);
  /* border: 3px orange solid; */
}

.purple {
  background-color: rgba(177, 13, 201, 0.9);
}

.black {
  background-color: rgba(0, 0, 0, 0.9);
  /* border: 3px #fafafa solid; */
}