<mat-list-item class="day">

  <div class="day__date" (click)="openBottomSheet(allEvents, activitiesToDo)">
    <div class="day__date--month">{{day.month_name}}</div>
    <div class="day__date--day" [ngClass]="{sunday: day.day_name === 'Sunday'}">{{day.day}}</div>
  </div>

  <div class="day__activities">
    <div class="events">
      <div *ngFor="let event of allEvents">
        <div class="day__activity {{event.color}}" matTooltip="{{event.name}}">
        </div>
      </div>
    </div>
  </div>

</mat-list-item>

<mat-divider></mat-divider>