.top--menu {
  position: fixed;
  top: 0;
  z-index: 200;
}

.golden {
  color: #CCB24C;
}

.rectangle {
  z-index: 201;
  position: relative;
  top: 7vh;
  left: 0;
  height: 7vh;
  width: 30vh;
  background-color: #027BFF;
  clip-path: polygon(0 0, 100% 0, 90% 90%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rectangle p {
  padding: 3px;
  font-weight: 200;
}

.activities {
  background-color: #0D1539;
  color: #fafafa;
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

.activities__list {
  padding-top: 12vh;
}

.activity {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity__properties {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.activity__name {
  margin-left: 10px;
}

.activity__sticker {
  height: 25px;
  width: 25px;
  border-radius: 40px;
}

.currentStreak__title {
  font-size: 0.5rem;
}

.highestStreak__title {
  font-size: 0.5rem;
}

.activity__streaks {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
}

.currentStreak {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.currentStreak__title {
  color: darkgrey;
}

.highestStreak__title {
  color: darkgrey;
}

.highestStreak {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.activity__sticker.red {
  border: 3px red solid;
}

.activity__sticker.blue {
  border: 3px rgb(1, 58, 170) solid;
}

.activity__sticker.green {
  border: 3px rgb(61, 153, 112) solid;
}

.activity__sticker.yellow {
  border: 3px rgb(255, 220, 0) solid;
}

.activity__sticker.orange {
  border: 3px orange solid;
}

.activity__sticker.purple {
  border: 3px rgb(177, 13, 201) solid;
}

.activity__sticker.black {
  border: 3px #fafafa solid;
}