<div class="activities">
  <div class="top--menu">
    <app-toolbar [route]="'activity'"></app-toolbar>
    <div class="rectangle">
      <p>activities</p>
    </div>
  </div>
  <div class="activities__list">

    <mat-list>
      <div *ngIf="activities.length !== 0; else nothing">
        <div *ngFor="let activity of activities">
          <mat-list-item>
            <div class="activity">

              <div class="activity__properties">

                <div class="activity__sticker {{activity.color}}"></div>
                <span class="activity__name">
                  {{activity.name}}
                </span>
              </div>

              <!-- <div *ngIf="activity.currentStreak === activity.highestStreak"></div> -->

              <div class="activity__streaks">
                <div class="currentStreak">
                  <span class="currentStreak__title">current streak</span>
                  <span class="currentStreak__number" [ngClass]="{golden: activity.currentStreak === activity.highestStreak && activity.highestStreak > 0}">{{activity.currentStreak}} days</span>
                </div>

                <div class="highestStreak">
                  <span class="highestStreak__title">longest streak</span>
                  <span class="highestStreak__number" [ngClass]="{golden: activity.currentStreak === activity.highestStreak && activity.highestStreak > 0}">{{activity.highestStreak}} days</span>
                </div>
              </div>


            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </div>
      <ng-template #nothing>
        <div>

          <mat-list-item>
            <p>You don't have any activity yet. Create one to get started!</p>
          </mat-list-item>
        </div>
      </ng-template>
    </mat-list>
  </div>
  <mat-expansion-panel [expanded]="panelOpenState" (opened)="togglePanel()">
    <mat-expansion-panel-header>
      <mat-panel-title>Start a new habit</mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">


      <mat-form-field>
        <input #message matInput placeholder="Habit Name" type="text" maxlength="15" formControlName="activityName" required>
        <mat-hint align="end">{{message.value.length}} / 15</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Sticker Color" formControlName="stickerColor" required>
          <mat-option *ngFor="let color of colors" [value]="color.value" required>
            {{color.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Description (optional)" formControlName="description"></textarea>
      </mat-form-field>



      <mat-action-row>
        <button class="mat-raised-button mat-primary" (click)="togglePanel()">Close</button>
        <button class="mat-raised-button mat-primary" type="submit" (click)="togglePanel()">Save</button>
      </mat-action-row>
    </form>
  </mat-expansion-panel>
  <app-alert></app-alert>
</div>