<div class="date">
  <span> {{date}} </span>
</div>
<mat-divider></mat-divider>
<div class="events"  *ngFor="let event of data.events">

  <div class="element event {{event.color}}">
    <mat-icon>done</mat-icon>
    <div class="element--name">
      {{event.name}}

    </div>
    <div class="element--streak">
      <div class="element--streak__current">
        <span class="current--streak">
          <mat-icon>arrow_forward</mat-icon>
          {{event.currentStreak}}
        </span>
      </div>
      <div class="element--streak__highest">
        <span class="highest--streak">
          <mat-icon>star_rate</mat-icon>
          {{event.highestStreak}}
        </span>


      </div>
    </div>
  </div>

</div>
<mat-divider></mat-divider>
<div class="activities" *ngFor="let activity of data.activities">
  <div class="element activity {{activity.color}}">
    <mat-icon>done</mat-icon>
    <div class="element--name">
      {{activity.name}}

    </div>
    <div class="element--streak">
      <div class="element--streak__current">
        <span class="current--streak">
          <mat-icon>arrow_forward</mat-icon>
          {{activity.currentStreak}}
        </span>
      </div>
      <div class="element--streak__highest">
        <span class="highest--streak">
          <mat-icon>star_rate</mat-icon>
          {{activity.highestStreak}}
        </span>


      </div>
    </div>
  </div>
</div>