
.events {
  margin-top: 20px;
  margin-bottom: 20px;
}

.activities {
  margin-top: 20px;
  margin-bottom: 20px;
}

.date {
  min-height: 40px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.element {
  margin: 3px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  --main-txt-dark: #262B30;
  --main-txt-light: white;
}

.event.red {
  background: #EB5757;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--main-txt-light);
}

.event.blue {
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--main-txt-light);
}

.event.green {
  background: #5A3F37;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C7744, #5A3F37);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--main-txt-light);
}

.event.yellow {
  background: #fffc00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #fffc00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.event.orange {
  background: #F2994A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--main-txt-light);
}

.event.purple {
  background: #ff00cc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--main-txt-light);
}

.event.black {
  background: #1e130c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #9a8478, #1e130c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #9a8478, #1e130c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--main-txt-light);
}

.element--name {
  margin-left: 10px;
  font-size: 1.5rem;
}

.element--streak {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.element--streak__current {
  font-size: 1.5rem;
  margin-right: 10px;
}

.element--streak__highest {
  font-size: 1.5rem;
}

.activity.red {
  background: repeating-linear-gradient(-55deg, rgba(235, 87, 87, 0.1), rgba(235, 87, 87, 0.1) 10px, rgba(232, 12, 12, 0.1) 10px, rgba(232, 12, 12, 0.1) 20px);
  color: var(--main-txt-dark);
}

.activity.blue {
  background: repeating-linear-gradient(-55deg, rgba(96, 109, 188, 0.1), rgba(96, 109, 188, 0.1) 10px, rgba(70, 82, 152, 0.1) 10px, rgba(70, 82, 152, 0.1) 20px);
  color: var(--main-txt-dark);
}

.activity.green {
  color: white;
  background: repeating-linear-gradient(-55deg, rgba(44, 119, 68, 0.1), rgba(44, 119, 68, 0.1) 10px, rgba(61, 153, 91, 0.1) 10px, rgba(61, 153, 91, 0.1) 20px);
  color: var(--main-txt-dark);
}

.activity.yellow {
  background: repeating-linear-gradient(-55deg, rgba(255, 252, 0, 0.1), rgba(255, 252, 0, 0.1) 10px, rgba(191, 189, 0, 0.1) 10px, rgba(191, 189, 0, 0.1) 20px);
  color: var(--main-txt-dark);
}

.activity.orange {
  background: repeating-linear-gradient(-55deg, rgba(242, 153, 74, 0.1), rgba(242, 153, 74, 0.1) 10px, rgba(127, 81, 39, 0.1) 10px, rgba(127, 81, 39, 0.1) 20px);
  color: var(--main-txt-dark);
}

.activity.purple {
  background: repeating-linear-gradient(-55deg, rgba(51, 51, 153, 0.1), rgba(51, 51, 153, 0.1) 10px, rgba(255, 0, 204, 0.1) 10px, rgba(255, 0, 204, 0.1) 20px);
  color: var(--main-txt-dark);
}

.activity.black {
  background: repeating-linear-gradient(-55deg, rgba(30, 19, 12, 0.1), rgba(30, 19, 12, 0.1) 10px, rgba(154, 132, 120, 0.1) 10px, rgba(154, 132, 120, 0.1) 20px);
  color: var(--main-txt-dark);
}