<mat-toolbar class="toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="icon">more_vert</mat-icon>
  </button>
  <span class="app__title" [routerLink]="['/home']">Ahbits</span>
  <span class="spacer"></span>
  <div *ngIf="route === 'home'; else home">
    <mat-icon [routerLink]="['/activities']">add</mat-icon>
  </div>
  <ng-template #home>
      <mat-icon [routerLink]="['/home']">home</mat-icon>
  </ng-template>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>perm_identity</mat-icon>
      <span>{{currentUser.firstName}}</span>
    </button>
    <button mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span [routerLink]="['/splash']">Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>