.toolbar {
  z-index: 35;
  background-color: #027BFF;
  position: fixed;
  ;
}

.app__title {
  color: #FAFAFA;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.icon {
  color: #ecebeb
}

.spacer {
  flex: 1 1 auto;
}
