
.login {
  background-color: #027BFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient( to right bottom, rgba(2, 123, 255, 0.7), rgba(2, 123, 255, 0.7)), url(../../assets/splash3.png);
  background-size: cover;
  background-position: top;
  color: white;
  justify-content: space-evenly;
}

.login__title {
  color: #FAFAFA;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__title--sub {
  color: #FAFAFA;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.back-to-register {
  max-width: 150px;
  padding: 5px;
}

.back-to-register a {
  text-decoration: none;
  color: inherit;
  font-weight: 600
}

.form__options {
  display: flex
}