<!-- <app-day [activitiesToDo]="activities" [allEvents]="events" [day]="today"></app-day> -->


<div class="today">
  <div class="today__header">
    <span class="now"> </span>
    <div class="today__header--date">
      {{today}}
    </div>
  </div>

  <div class="today__body">

    <div class="today__body--stickers">
      <div class="today__body--todo">
        <div *ngFor="let activity of activities">
          <div class="day__event--group">

            <div class="activity__todo {{activity.color}}" (click)="stickerClicked(activity.id)"></div>
            <div class="day__event--name">
              <span>{{activity.name}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="today__body--done">
        <div *ngFor="let event of events">
          <div class="day__event--group">

            <div class="day__event {{event.color}}">
            </div>
            <div class="day__event--name">
              <span>{{event.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="activities.length !== 0 || events.length !== 0; else new_user">
    <div *ngIf="activities.length === 0; else to_do">
      <div class="today__body--footer">
        You're a rockstar!
      </div>
    </div>
    <ng-template #to_do>
          <div class="today__body--footer">
            What have you accomplished today?
          </div>
      </ng-template>

  </div>
  <ng-template #new_user>
    <div class="today__body--footer">
      Welcome to Ahbits! To get started, please add a new habit by clicking below or see them all by clicking '+'
    </div>
  </ng-template>

</div>