.today {
  border-top: 3px solid grey;
  display: flex;
  flex-direction: column;
}

.today__header {
  padding-top: 10px;
  padding-left: 15px;
  display: flex;
  font-size: 1.6rem;
  color: #fafafa;
  font-family: 'Nunito', sans-serif;
  flex-grow: 1;
}

.now {
  justify-self: flex-start
}

.today__header--date {
  justify-self: center;
}

.today__body--stickers {
  display: flex;
}

.today__body {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}

.today__body--todo {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.activity__todo {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.today__body--done {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.day__event {
  margin: 5px;
  width: 55px;
  height: 55px;
  border-radius: 50px;
}

.day__event--name {
  color: #fafafa;
  text-align: center;
  font-size: 0.7rem;
}

.today__body--footer {
  font-size: 1.5rem;
  color: #fafafa;
  font-family: 'Nunito', sans-serif;
  flex-grow: 1;
  text-align: center;
}

.activity__todo.red {
  border: 3px rgb(255, 65, 54) solid;
}

.activity__todo.blue {
  border: 3px rgb(1, 58, 170) solid;
  color: #fafafa;
}

.activity__todo.green {
  border: 3px rgb(61, 153, 112) solid;
  color: #fafafa;
}

.activity__todo.yellow {
  border: 3px rgb(255, 220, 0) solid;
}

.activity__todo.orange {
  border: 3px rgb(255, 165, 0) solid;
}

.activity__todo.purple {
  border: 3px rgb(177, 13, 201) solid;
  color: #fafafa;
}

.activity__todo.black {
  border: 3px #fafafa solid;
  color: #fafafa;
}

.day__event.red {
  background-color: rgb(255, 65, 54);
}

.day__event.blue {
  background-color: rgb(1, 58, 170);
  color: #fafafa;
}

.day__event.green {
  background-color: rgb(61, 153, 112);
  color: #fafafa;
}

.day__event.yellow {
  background-color: rgb(255, 220, 0);
}

.day__event.orange {
  background-color: rgb(255, 165, 0);
}

.day__event.purple {
  background-color: rgb(177, 13, 201);
  color: #fafafa;
}

.day__event.black {
  background-color: #fafafa;
  color: #fafafa;
}