.splash {
  background-color: #027BFF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient( to right bottom, rgba(2, 123, 255, 0.7), rgba(2, 123, 255, 0.7)), url(../../assets/splash3.png);
  background-size: cover;
  background-position: top;
}

.splash__image {
  z-index: 200;
  justify-self: flex-start;
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.splash__title {
  color: #FAFAFA;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

.splash__buttons {
  background: transparent;
  margin: 50px;
}

.button {
  margin: 5px;
  color: #FAFAFA;
  font-weight: bold;
}