<div class="splash">
  <div class="splash__image">
    <h1 class="splash__title">Ahbits</h1>
  </div>
  <div class="splash__buttons">
    <button class="splash__buttons--sign-in button" [routerLink]="['/login']" mat-stroked-button>Sign In</button>
    <button class="splash__buttons--register button" [routerLink]="['/register']" mat-button>I'm new!</button>
  </div>
</div>
