/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}