﻿<div class="home">
    <div class="top--menu">
        <app-toolbar [route]="'home'"></app-toolbar>
        <div class="rectangle">
            <p>last 10 days</p>
        </div>
    </div>
    <mat-divider></mat-divider>

    <mat-list class="days">
        <div *ngFor="let day of calendarIndex">
            <app-day [allEvents]="allEvents[day]" [day]="myCalendar[day]"></app-day>
        </div>
    </mat-list>

    <div class="today">
        <app-today [activities]="activities" [events]="todayEvents"></app-today>
    </div>
    <div *ngIf="activities.length === 0 && allEvents.length === 0 ||todayEvents.length === 0">

        <button mat-fab color="primary" class="add-activity-button" (click)="openAddActivityDialog()" matTooltip="Add new Activity">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <app-alert></app-alert>
</div>