::-webkit-scrollbar {
  display: none;
}

.home {
  font-family: 'Nunito', sans-serif;
  color: #fafafa;
}

.rectangle {
  z-index: 201;
  position: relative;
  top: 7vh;
  left: 0;
  height: 7vh;
  width: 30vh;
  background-color: #027BFF;
  clip-path: polygon(0 0, 100% 0, 90% 90%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rectangle p {
  padding: 3px;
  font-weight: 200;
}

.home {
  display: flex;
  flex-direction: column;
  background-color: #0D1539;
  height: 100vh;
}

.add-activity-button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.days {
  margin-top: 30px;
  max-height: 40vh;
  overflow: scroll;
}

.today {
  background-color: #0D1539;
  min-height: 50vh;
  width: 100%;
}